{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-screen flex items-center justify-center">
        <img src="{{ asset('build/images/lemesom.png') }}" alt="Lemesom logo" class="bg-slate-300 border border-t-2 border-slate-300"/>
    </div>
{% endblock %}
